[Unit]
Description=Loco features service
After=ghost.service
StartLimitIntervalSec=0

[Service]
User=ghost
Type=forking
#Restart=always
#RestartSec=1
ExecStart=/bin/bash /home/ghost/loco_ws/src/loco_gps/additionals/loco.sh

[Install]
WantedBy=multi-user.target
